@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 27px;
    padding-left: 25px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
    margin-right: 40px;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

.order_button:hover {
  opacity: 0.8;
  transition: 0.6s;
}

.cart_img_box {
  width: 40%;
  height: 80px;
}

.cart_info_box {
  width: 60%;
  height: 80px;
}

input.cart_input_quanlity {
  width: 50%;
  outline: none;
  border: 0;
  border-radius: 8px;
  padding: 5px;
  padding-left: 15px;
  text-align: center;
}

.cart_button_delete {
  padding: 8px;
  margin: auto;
  color: #fff;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--nav-background-color);
}
::-webkit-scrollbar-thumb {
  background: #ff7f5097;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--button-hoverez);
}
.khung .box {
  padding-left: 10px !important;
}

.khung .box img {
  opacity: 1;
}

.khung .box p {
  color: white;
  opacity: 0.8;
}

.khung .box a {
  text-decoration: none;
}

.khung .box:hover {
  background: transparent;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 10px;
}

.khung .box p:hover {
  color: white;
  opacity: 1;
}

.produre_box {
  width: 100%;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.image_box {
  width: 100%;
  height: 150px;
}

.image_box img {
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
}

.info_box {
  width: 100%;
  border-bottom-left-radius: 35px;
}

.star_box {
  width: 50%;
  height: 50px;
}

.order_box {
  width: 50%;
  height: 50px;
}

.order_button {
  width: 80%;
  height: 40px;
  background: #fb9200;
  border-top-left-radius: 15px;
  padding-left: 2rem;
}

.order_button i {
  color: #fff;
  font-size: 150%;
}

.scroll_event_Add_class {
  background: #fff;
}

.scroll_event_Add_class_text {
  color: black;
}

.menu_account_show {
  display: block !important;
}
